{% extends "base.html" %}

{% block libs %}
    {{ super() }}
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js"></script>
    <script data-ad-client="ca-pub-5236818090688638" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <meta name="baidu_union_verify" content="399f2ea30598ef9a698e0d9467178aea">
{% endblock %}

{% block content %}
    {{ super() }}
    <hr />
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- 横向 -->
    <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-5236818090688638"
        data-ad-slot="3460446284"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
    <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
{% endblock %}
